body{
  background: url(bg.jpg);
  background-size: cover;
}
.bg-custom{
  border: 1px solid #fff;
  color: #fff;
  background-image: url(bg-2.jpg);
  background-size: cover;
  background-position: bottom;
}
.container::after{
  content: 'Weather App By Sofiqur Rahman';
  text-align: center;
  color: #000;
  display: block;
  font-size: small;
}